@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.data{
    height: 500px;
    background-color: #171719;
    width: 620px;
    overflow: auto;
}
.users{
    margin-left: 184px;
    margin-top: 100px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #171719;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr:nth-child(even) {
    background-color: #171719;
}
hr{
    width: 230%;

}
.delete{
    background-color: #171719;
    color: #FFFFFF;
    border: none;
    font-size: 24px;

}

.Active{
    color: rgba(231, 86, 38, 1);
}
thead{
    border: #FFFFFF solid 2px;
    border-left: #171719;
    border-right: #171719;
}
tbody{
    border: #FFFFFF solid 2px;
    border-left: #171719;
    border-right: #171719;

}
.title{
    font-family: 'Bebas Neue';
    font-size: 28px;
}